@import "../../../style/generalVariables.scss";

.productRow {
	display: flex;
	padding: 10px 25px;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 20px;
		&:after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 1px;
			background-color: $lightGreyTrans;
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.productImg {
		width: 75px;
		height: 75px;

		img {
			width: 100%;
			height: 100%;
		}
	}
	.productInfos {
		width: 525px;
		padding: 0 25px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.titlePriceWrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.productTitle {
			text-transform: uppercase;
			letter-spacing: 0.05em;
			margin-bottom: 5px;
			text-align: left;
			max-width: 85%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
		}

		.productActions {
			display: flex;
			align-items: center;

			.quantityInput {
				width: 60px;
				input {
					width: 100%;
					padding: 8px;
					background-color: $secondary;
					border: none;
					border-radius: 3px;
					text-align: center;
				}
			}

			button {
				background-color: none;
				border: none;
				cursor: pointer;
				margin-left: 55px;

				&:hover {
					color: $roseGold;
					font-weight: 600;
				}
			}
		}

		.availabilityIndic {
			background-color: $secondaryTrans;
			padding: 4px;
			border-radius: 10px;
			align-self: center;
			display: flex;
			align-items: center;

			.availabilityIcon {
				width: 15px;
				height: 15px;
				margin-right: 3px;
				&.success {
					color: #bbe8c4;
				}

				&.failed {
					color: #ff6961;
				}
			}
		}
	}
}

.checkoutDisplay {
	padding-left: 0;
	padding-right: 0;

	.productInfos {
		padding-right: 0;
	}
}

@media screen and (max-width: 688px) {
	.productRow {
		padding: 10px;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: 10px;
			&:after {
				bottom: -5px;
			}
		}

		.productImg {
			width: 45px;
			height: 45px;
			flex-shrink: 0;
		}

		.productInfos {
			width: 85%;
			padding: 5px 10px;

			.productTitle {
				width: 75%;
			}

			.productActions {
				display: flex;
				align-items: baseline;

				.quantityInput {
					input {
						padding: 6px;
					}
				}

				button {
					margin-left: 35px;
				}
			}
		}
	}
}
