$primary: #f4f0ee;
$primaryTrans: rgba(244, 240, 238, 0.8);
$secondary: #e9dfd9;
$secondaryTrans: #f1ebe8;
$tertiary: #baa58d;
$tertiaryTrans: rgba(186, 165, 141, 0.95);

$lightDark: #333132;
$lightGrey: rgba(35, 35, 35, 0.5);
$lightGreyTrans: rgba(35, 35, 35, 0.1);
$roseGold: #d49e8d;
$roseGoldTrans: rgba(212, 158, 141, 0.9);
