@import "../../style/generalVariables.scss";

.myProfile {
	padding: 25px;

	// .profileSummary {
	// 	background-color: $secondaryTrans;
	// 	padding: 10px;
	// 	border-radius: 2px;
	// 	display: flex;
	// 	justify-content: space-between;

	// 	.leftProfile,
	// 	.rightProfile {
	// 		text-align: left;
	// 		width: 40%;
	// 		padding: 25px;

	// 		span {
	// 			font-size: 13px;
	// 			margin-bottom: 6px;
	// 			display: inline-block;
	// 		}
	// 	}

	// 	.rightProfile {
	// 		position: relative;
	// 	}

	// 	.rightProfile:before {
	// 		content: "";
	// 		width: 1px;
	// 		height: 100px;
	// 		background-color: $lightGrey;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 	}
	// }

	.formContainer {
		max-width: 550px;
		margin: auto;

		h4 {
			margin: 20px 0 50px 0;
			position: relative;

			&:after {
				content: "";
				display: block;
				width: 85px;
				height: 1px;
				background-color: $lightGrey;
				position: absolute;
				bottom: -25px;
				left: 50%;
				margin-left: -40px;
			}
		}

		.submitButton {
			width: 100%;
			padding: 15px;
			background-color: $lightDark;
			border: solid 1px $lightDark;
			cursor: pointer;
			transition: all 0.3s ease;

			& > span {
				color: $primary;
			}
		}

		.submitButton:hover {
			background-color: $roseGold;
			border-color: $roseGold;
		}
	}
}
