@import "../../style/generalVariables.scss";

.logRegisterContainer {
	width: 100%;
	height: 94.6vh;
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	background-image: url("/images/content/bg_abstract_1.jpg");
	z-index: 0;
	display: flex;
}

@media screen and (max-width: 688px) {
	.logRegisterContainer {
		background: none;

		.overlay {
			background: none;
		}
	}
}
